<template name="pricing">

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">

      <div class="row">
        <div class="eight wide column center aligned">
          <h3 class="ui header">Simple pricing</h3>
          <p>One price for all your quotes.</p>

        </div>
        <div class="eight wide column center aligned">
          <div class="ui horizontal statistic">
            <div class="value">
              $29
            </div>
            <div class="label">
              /month
            </div>
          </div>
          <p>Unlimited quotes</p>
        </div>
      </div>

      <div class="centered row">
        <div class="center aligned column">
          <a class="ui huge button">Get started...</a>
        </div>
      </div>
    </div>

  </div>
</template>
